<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--<bean class="cn.jinelei.live.websocket.HandshakeInterceptor" id="handshakeInterceptor"/>-->
    <!--<bean class="cn.jinelei.live.websocket.InfoSocketEndPoint" id="endPoint"/>-->
    <!--<bean class="cn.jinelei.live.websocket.SystemWebSocketHandler" id="systemWebSocketHandler"/>-->
    <!--<bean class="cn.jinelei.live.config.MyStompConfig" id="myStompConfig"/>-->

</beans>